<table class="legend-table" *ngIf="units">
  <thead>
    <tr class="header">
      <th>Chraracter</th>
      <th>Length (seconds)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Dot ( ● )</th>
      <td class="red">{{ units.dot }} Seconds</td>
    </tr>
    <tr>
      <th>Dash ( - )</th>
      <td class="red">{{ units.dash }} Seconds</td>
    </tr>
    <tr>
      <th>Between Letters ( [ ] )</th>
      <td class="red">{{ units.space.between_letters }} Seconds</td>
    </tr>
    <tr>
      <th>Between Same Letter</th>
      <td class="red">{{ units.space.between_same_letter }} Seconds</td>
    </tr>
    <tr>
      <th>Between Words</th>
      <td class="red">{{ units.space.between_words }} Seconds</td>
    </tr>
  </tbody>
</table>
