<table class="table-legend">
  <thead>
    <tr>
      <th>Chraracter</th>
      <th>Length (seconds)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Dot</th>
      <td>1 Second</td>
    </tr>
    <tr>
      <th>Dash</th>
      <td>3 Seconds</td>
    </tr>
    <tr>
      <th>Between Words</th>
      <td>3 Seconds</td>
    </tr>
    <tr>
      <th>Between Letters</th>
      <td>2 Seconds</td>
    </tr>
    <tr>
      <th>Between Sentences</th>
      <td>7 Seconds</td>
    </tr>
  </tbody>
</table>
 