<div class="text-area-component">
  <textarea 
    rows="14" 
    cols="60" 
    class="text-area left" 
    (keyup)="onChange($event)"></textarea>
  <div *ngIf="shouldRenderTranslation()">
    <table class="translation-table">
      <thead>
        <tr class="tr-head">
          <th>Word</th>
          <th>Code</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-body" *ngFor="let word of words">
          <td>{{ word }}</td>
          <td>{{ word | morse }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>