@import url('https://fonts.googleapis.com/css?family=Open+Sans|Special+Elite|Rubik:400,900');

$table-gradient-background: linear-gradient(180deg, #e1e1e1 0%, #eaeaea 60%);
$table-gradient-hover-background: linear-gradient(180deg, #222 0%, #666 60%);
$table-background: #f2f2f2;
$font-header: 'Rubik';
$font-body: 'Open Sans';
$font-body-weight: 900;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: white;
  color: #111;
  font-family: $font-body;
  padding: 20px;
}

.text-area {
  font-size: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: $font-body;
  text-align: center;
}

.monospace {
  font-family: monospace;
}

.red {
  color: white;
}

.header {
  color: white;
}

.flex-grid {
  display: flex;
  margin: 20px 0 20px 0;
}

.col {
  background: #e55447;
  padding: 20px;
}

.flex-grid .col {
  flex-direction: row;
}
.flex-grid-double {
  display: flex;
  justify-content: space-between;
}
.flex-grid-double .col {
  width: 50%;
}

.caption {
  text-align: center;
}

.table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  th,
  td {
    padding: 2px;
  }
}

.legend-table,
.translation-table {
  @extend .table;
}

.translation-table {
  background: white;
  justify-content: center;
  width: 100%;
  .word {
    width: 25%;
  }
  td,
  th {
    margin: 0;
    padding: 0;
  }
  tr {
    background-color: white;
  }
  tbody tr:nth-child(odd) {
    background: #eee;
  }
  tbody tr:hover {
    background: #333;
    color: white;
  }
}

@media (max-width: 700px) {
  .flex-grid,
  .flex-grid-double {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
